<div class="container">
  <h2>Maintaining Column State using Ag Grid in Angular</h2>
  <ag-grid-angular
    class="ag-theme-alpine grid"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="10"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
  <div class="buttons">
    <button class="save" (click)="saveGridState()">Save State</button>
    <button class="save" (click)="resetGridState()">Reset State</button>
  </div>
</div>
